.clearfix:after { display: block; content: "."; height: 0; visibility: hidden; clear: both; font-size: 0; line-height: 0; }
.clearfix { *zoom:1;}
.city_select_wrap{
	width:578px;border:1px solid #c4d5df;font-size:12px;
}
.city_select_head{
	background: #c4d9ef;
}
.city_select_head .city_select_title{
	float:left;font-weight:bold;font-size:14px;padding:10px;
}
.city_select_head .city_select_close{
	float:right;font-size:10px;color:blue;cursor:pointer;padding:10px;
}

.city_select_body ul{padding:0;margin:0;list-style:none;}
.city_select_body ul li{float:left;width:100%;}
.city_select_body .city_select_group_div{
	float:left;height:30px;display: inline;margin:0px 5px;
}
.city_select_body .city_select_provinces{float:left;}
.city_select_body .city_select_provinces .city_select_province_div{
	
	float:left;height:30px;padding:0px 10px;position:relative;

}
.city_select_body .city_select_group_div{
	width:70px;font-weight: bold;
}
.city_select_body .city_select_provinces{width:450px;}
.city_select_province_div i#city_select_showcity{
	border-top:4px solid #666;
}
.city_select_province_div i{
width: 0px;
height: 0;
line-height: 0;
font-size: 0;
cursor: pointer;
border: 4px solid transparent;
position:absolute;
right:0px;
top:10px;
}

.city_select_buttons{
	height:50px;text-align: right;padding-right: 20px;line-height: 50px;border-top:2px solid #ecf4ff;
}
.city_select_even{
	background: #ecf4ff;
}

.city_select_cities{display:none;position:absolute;top:30px;left:0px;z-index: 10;width:230px;}
.city_select_cities .city_select_city_div{float:left;padding:5px;}
.city_select_province_close{width: 100%;text-align: right;padding:0 10px;}
.city_select_by{background: #FFFEC6;}